<div class="row"></div>
<div class="row">
    <div class="tabs-background"></div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="heading" data-toggle="tab">Active</a></li>
        <li><a href="textblocks" data-toggle="tab">Inactive</a></li>
        <li><a href="textblocks" data-toggle="tab">Incoming</a></li>
    </ul>
</div>
<div class="row">
    <div class="span8">
        <div class="row ">
            <div class="pane bordered">
                <div class="pane-body">
                    <div class="pane-content">
                        <p>Roger: Lunch?</p>
                        <p>Wilson: go !!!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <textarea id="chatInput" rows="4" placeholder="Enter your message"> </textarea>
            <button id="sendBtn" class="btn min-width btn-primary" type="button">Send</button>
        </div>
    </div>

    <div class="span4">
        <div class="component">
            <p class="component-lable">Session list</p>
            <ul class="nav nav-list">
                <li><a href="">Tom</a></li>
                <li><a href="">Jerry</a></li>
                <li class="active"><a href="">Amy</a></li>
                <li><a href="">Wilson</a></li>
                <li><a href="">Jason</a></li>
                <li><a href="">TK</a></li>
            </ul>
        </div>
    </div>
</div>