<div >
    <div class="modal-header">
        Chat with
    </div>
    <div class="modal-body">
        <span id="chatWithLabel">Jabber Id</span>
        <input id="chatWithInput" type="text" ng-model="chat.newBuddyName" placeholder="username@domain">
    </div>
    <div class="modal-footer">
        <button class="btn min-width btn-primary" type="button" ng-click="proceedToStart()">Start</button>
        <button class="btn min-width" type="button" ng-click="proceedToCancel()">Cancel</button>
    </div>
</div>