#chatInput {
  width: 70%;
  height: 80px;
}
#sendBtn {
  vertical-align: top;
}
.loginInput {
  width: 300px;
}
#session {
  border-left: 1px solid #ccc;
  height: 400px;
  margin-top: 10px;
  margin-left: 10px;
}
#sessionToolbar {
  margin-top: 0px;
  margin-left: 5px;
}
#sessionList {
  margin-top: 5px;
  margin-left: 0px;
}
#msgDisplay {
  margin-top: 0px;
  height: 300px;
  overflow: auto;
}
#msgInput {
  margin-top: 0px;
}
#chatWithLabel {
  margin-right: 20px;
}
#chatWithInput {
  width: 250px;
}
#workgroupSelect {
  width: 97%;
}
#workgroupDropdown {
  width: 100%;
}
.user-msg {
  color: #3a87ad;
  font-size: 16px;
}
.counterpart-msg {
  color: #468847;
  font-size: 16px;
}
.chat-tab {
  text-decoration: none !important;
}
#queueGrid {
  border: 1px solid #d4d4d4;
  height: 300px;
}
#conversationPanel {
  margin-top: -50px;
}
#conversationGrid {
  border: 1px solid #d4d4d4;
  height: 183px;
}
#converstationInput {
  width: 100%;
  height: 60px;
}
#conversationDetail {
  margin-top: 10px;
}
div > div.ngSelectionCell.checkboxes {
  margin-top: 3px;
  margin-left: 5px;
}
.tag-btn {
  cursor: pointer;
}
.fade-in-animation.ng-hide-add,
.fade-in-animation.ng-hide-remove {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  /* remember to add this */

  display: block!important;
  opacity: 1;
}
.fade-in-animation.ng-hide {
  opacity: 0;
}
