
		<div class="icons" id="icons">
			
				<div class="icons__item" data-name="zoom-out"><i class=" icon-zoom-out"></i> icon-zoom-out</div>
			
				<div class="icons__item" data-name="zoom-in"><i class=" icon-zoom-in"></i> icon-zoom-in</div>
			
				<div class="icons__item" data-name="yes"><i class=" icon-yes"></i> icon-yes</div>
			
				<div class="icons__item" data-name="xml-file"><i class=" icon-xml-file"></i> icon-xml-file</div>
			
				<div class="icons__item" data-name="workflow"><i class=" icon-workflow"></i> icon-workflow</div>
			
				<div class="icons__item" data-name="wireless"><i class=" icon-wireless"></i> icon-wireless</div>
			
				<div class="icons__item" data-name="windows-servers"><i class=" icon-windows-servers"></i> icon-windows-servers</div>
			
				<div class="icons__item" data-name="web"><i class=" icon-web"></i> icon-web</div>
			
				<div class="icons__item" data-name="web-servers"><i class=" icon-web-servers"></i> icon-web-servers</div>
			
				<div class="icons__item" data-name="warning-sign"><i class=" icon-warning-sign"></i> icon-warning-sign</div>
			
				<div class="icons__item" data-name="vulnerability"><i class=" icon-vulnerability"></i> icon-vulnerability</div>
			
				<div class="icons__item" data-name="volume-no"><i class=" icon-volume-no"></i> icon-volume-no</div>
			
				<div class="icons__item" data-name="volume-low"><i class=" icon-volume-low"></i> icon-volume-low</div>
			
				<div class="icons__item" data-name="volume-high"><i class=" icon-volume-high"></i> icon-volume-high</div>
			
				<div class="icons__item" data-name="virtualization"><i class=" icon-virtualization"></i> icon-virtualization</div>
			
				<div class="icons__item" data-name="view"><i class=" icon-view"></i> icon-view</div>
			
				<div class="icons__item" data-name="user"><i class=" icon-user"></i> icon-user</div>
			
				<div class="icons__item" data-name="user-options"><i class=" icon-user-options"></i> icon-user-options</div>
			
				<div class="icons__item" data-name="user-group"><i class=" icon-user-group"></i> icon-user-group</div>
			
				<div class="icons__item" data-name="user-framed"><i class=" icon-user-framed"></i> icon-user-framed</div>
			
				<div class="icons__item" data-name="upload"><i class=" icon-upload"></i> icon-upload</div>
			
				<div class="icons__item" data-name="update"><i class=" icon-update"></i> icon-update</div>
			
				<div class="icons__item" data-name="up"><i class=" icon-up"></i> icon-up</div>
			
				<div class="icons__item" data-name="unseen"><i class=" icon-unseen"></i> icon-unseen</div>
			
				<div class="icons__item" data-name="unix-servers"><i class=" icon-unix-servers"></i> icon-unix-servers</div>
			
				<div class="icons__item" data-name="un-favorite"><i class=" icon-un-favorite"></i> icon-un-favorite</div>
			
				<div class="icons__item" data-name="un-attach"><i class=" icon-un-attach"></i> icon-un-attach</div>
			
				<div class="icons__item" data-name="un-archive"><i class=" icon-un-archive"></i> icon-un-archive</div>
			
				<div class="icons__item" data-name="uft"><i class=" icon-uft"></i> icon-uft</div>
			
				<div class="icons__item" data-name="twitter"><i class=" icon-twitter"></i> icon-twitter</div>
			
				<div class="icons__item" data-name="truclient"><i class=" icon-truclient"></i> icon-truclient</div>
			
				<div class="icons__item" data-name="triangle"><i class=" icon-triangle"></i> icon-triangle</div>
			
				<div class="icons__item" data-name="triangle-down"><i class=" icon-triangle-down"></i> icon-triangle-down</div>
			
				<div class="icons__item" data-name="tree-expand-arrow"><i class=" icon-tree-expand-arrow"></i> icon-tree-expand-arrow</div>
			
				<div class="icons__item" data-name="tree-expand-arrow-down"><i class=" icon-tree-expand-arrow-down"></i> icon-tree-expand-arrow-down</div>
			
				<div class="icons__item" data-name="trash"><i class=" icon-trash"></i> icon-trash</div>
			
				<div class="icons__item" data-name="transaction"><i class=" icon-transaction"></i> icon-transaction</div>
			
				<div class="icons__item" data-name="time"><i class=" icon-time"></i> icon-time</div>
			
				<div class="icons__item" data-name="threat"><i class=" icon-threat"></i> icon-threat</div>
			
				<div class="icons__item" data-name="task"><i class=" icon-task"></i> icon-task</div>
			
				<div class="icons__item" data-name="task-plan"><i class=" icon-task-plan"></i> icon-task-plan</div>
			
				<div class="icons__item" data-name="target"><i class=" icon-target"></i> icon-target</div>
			
				<div class="icons__item" data-name="tags"><i class=" icon-tags"></i> icon-tags</div>
			
				<div class="icons__item" data-name="tag"><i class=" icon-tag"></i> icon-tag</div>
			
				<div class="icons__item" data-name="table"><i class=" icon-table"></i> icon-table</div>
			
				<div class="icons__item" data-name="system"><i class=" icon-system"></i> icon-system</div>
			
				<div class="icons__item" data-name="storm"><i class=" icon-storm"></i> icon-storm</div>
			
				<div class="icons__item" data-name="stop"><i class=" icon-stop"></i> icon-stop</div>
			
				<div class="icons__item" data-name="steps"><i class=" icon-steps"></i> icon-steps</div>
			
				<div class="icons__item" data-name="start"><i class=" icon-start"></i> icon-start</div>
			
				<div class="icons__item" data-name="square-circle"><i class=" icon-square-circle"></i> icon-square-circle</div>
			
				<div class="icons__item" data-name="software"><i class=" icon-software"></i> icon-software</div>
			
				<div class="icons__item" data-name="soa"><i class=" icon-soa"></i> icon-soa</div>
			
				<div class="icons__item" data-name="snooze"><i class=" icon-snooze"></i> icon-snooze</div>
			
				<div class="icons__item" data-name="snapshot"><i class=" icon-snapshot"></i> icon-snapshot</div>
			
				<div class="icons__item" data-name="showstopper-task"><i class=" icon-showstopper-task"></i> icon-showstopper-task</div>
			
				<div class="icons__item" data-name="shield"><i class=" icon-shield"></i> icon-shield</div>
			
				<div class="icons__item" data-name="settings"><i class=" icon-settings"></i> icon-settings</div>
			
				<div class="icons__item" data-name="service-definition"><i class=" icon-service-definition"></i> icon-service-definition</div>
			
				<div class="icons__item" data-name="service-component"><i class=" icon-service-component"></i> icon-service-component</div>
			
				<div class="icons__item" data-name="servers"><i class=" icon-servers"></i> icon-servers</div>
			
				<div class="icons__item" data-name="seen"><i class=" icon-seen"></i> icon-seen</div>
			
				<div class="icons__item" data-name="search"><i class=" icon-search"></i> icon-search</div>
			
				<div class="icons__item" data-name="script"><i class=" icon-script"></i> icon-script</div>
			
				<div class="icons__item" data-name="script-zipped"><i class=" icon-script-zipped"></i> icon-script-zipped</div>
			
				<div class="icons__item" data-name="save"><i class=" icon-save"></i> icon-save</div>
			
				<div class="icons__item" data-name="sad-face"><i class=" icon-sad-face"></i> icon-sad-face</div>
			
				<div class="icons__item" data-name="running-software"><i class=" icon-running-software"></i> icon-running-software</div>
			
				<div class="icons__item" data-name="run"><i class=" icon-run"></i> icon-run</div>
			
				<div class="icons__item" data-name="rss"><i class=" icon-rss"></i> icon-rss</div>
			
				<div class="icons__item" data-name="rrect-yes"><i class=" icon-rrect-yes"></i> icon-rrect-yes</div>
			
				<div class="icons__item" data-name="rrect-no"><i class=" icon-rrect-no"></i> icon-rrect-no</div>
			
				<div class="icons__item" data-name="rrect-na"><i class=" icon-rrect-na"></i> icon-rrect-na</div>
			
				<div class="icons__item" data-name="role"><i class=" icon-role"></i> icon-role</div>
			
				<div class="icons__item" data-name="risk"><i class=" icon-risk"></i> icon-risk</div>
			
				<div class="icons__item" data-name="right"><i class=" icon-right"></i> icon-right</div>
			
				<div class="icons__item" data-name="resources"><i class=" icon-resources"></i> icon-resources</div>
			
				<div class="icons__item" data-name="related-records"><i class=" icon-related-records"></i> icon-related-records</div>
			
				<div class="icons__item" data-name="related-CIs"><i class=" icon-related-CIs"></i> icon-related-CIs</div>
			
				<div class="icons__item" data-name="refresh"><i class=" icon-refresh"></i> icon-refresh</div>
			
				<div class="icons__item" data-name="record"><i class=" icon-record"></i> icon-record</div>
			
				<div class="icons__item" data-name="radio-button"><i class=" icon-radio-button"></i> icon-radio-button</div>
			
				<div class="icons__item" data-name="properties"><i class=" icon-properties"></i> icon-properties</div>
			
				<div class="icons__item" data-name="project"><i class=" icon-project"></i> icon-project</div>
			
				<div class="icons__item" data-name="priority-very-high"><i class=" icon-priority-very-high"></i> icon-priority-very-high</div>
			
				<div class="icons__item" data-name="priority-urgent"><i class=" icon-priority-urgent"></i> icon-priority-urgent</div>
			
				<div class="icons__item" data-name="priority-medium"><i class=" icon-priority-medium"></i> icon-priority-medium</div>
			
				<div class="icons__item" data-name="priority-low"><i class=" icon-priority-low"></i> icon-priority-low</div>
			
				<div class="icons__item" data-name="priority-high"><i class=" icon-priority-high"></i> icon-priority-high</div>
			
				<div class="icons__item" data-name="print"><i class=" icon-print"></i> icon-print</div>
			
				<div class="icons__item" data-name="play"><i class=" icon-play"></i> icon-play</div>
			
				<div class="icons__item" data-name="pinned"><i class=" icon-pinned"></i> icon-pinned</div>
			
				<div class="icons__item" data-name="pin"><i class=" icon-pin"></i> icon-pin</div>
			
				<div class="icons__item" data-name="pie"><i class=" icon-pie"></i> icon-pie</div>
			
				<div class="icons__item" data-name="picture"><i class=" icon-picture"></i> icon-picture</div>
			
				<div class="icons__item" data-name="personal-computers"><i class=" icon-personal-computers"></i> icon-personal-computers</div>
			
				<div class="icons__item" data-name="pencil-small"><i class=" icon-pencil-small"></i> icon-pencil-small</div>
			
				<div class="icons__item" data-name="pause"><i class=" icon-pause"></i> icon-pause</div>
			
				<div class="icons__item" data-name="path"><i class=" icon-path"></i> icon-path</div>
			
				<div class="icons__item" data-name="paste"><i class=" icon-paste"></i> icon-paste</div>
			
				<div class="icons__item" data-name="pane-scroll-arrow-up"><i class=" icon-pane-scroll-arrow-up"></i> icon-pane-scroll-arrow-up</div>
			
				<div class="icons__item" data-name="pane-scroll-arrow-down"><i class=" icon-pane-scroll-arrow-down"></i> icon-pane-scroll-arrow-down</div>
			
				<div class="icons__item" data-name="package"><i class=" icon-package"></i> icon-package</div>
			
				<div class="icons__item" data-name="package-up"><i class=" icon-package-up"></i> icon-package-up</div>
			
				<div class="icons__item" data-name="package-down"><i class=" icon-package-down"></i> icon-package-down</div>
			
				<div class="icons__item" data-name="owl"><i class=" icon-owl"></i> icon-owl</div>
			
				<div class="icons__item" data-name="out-dent"><i class=" icon-out-dent"></i> icon-out-dent</div>
			
				<div class="icons__item" data-name="os-windows"><i class=" icon-os-windows"></i> icon-os-windows</div>
			
				<div class="icons__item" data-name="os-vax"><i class=" icon-os-vax"></i> icon-os-vax</div>
			
				<div class="icons__item" data-name="os-unix"><i class=" icon-os-unix"></i> icon-os-unix</div>
			
				<div class="icons__item" data-name="os-mainframe"><i class=" icon-os-mainframe"></i> icon-os-mainframe</div>
			
				<div class="icons__item" data-name="os-bare-metal-hypervisor"><i class=" icon-os-bare-metal-hypervisor"></i> icon-os-bare-metal-hypervisor</div>
			
				<div class="icons__item" data-name="open-folder"><i class=" icon-open-folder"></i> icon-open-folder</div>
			
				<div class="icons__item" data-name="note"><i class=" icon-note"></i> icon-note</div>
			
				<div class="icons__item" data-name="non-exist"><i class=" icon-non-exist"></i> icon-non-exist</div>
			
				<div class="icons__item" data-name="no"><i class=" icon-no"></i> icon-no</div>
			
				<div class="icons__item" data-name="new"><i class=" icon-new"></i> icon-new</div>
			
				<div class="icons__item" data-name="new-folder"><i class=" icon-new-folder"></i> icon-new-folder</div>
			
				<div class="icons__item" data-name="new-entity"><i class=" icon-new-entity"></i> icon-new-entity</div>
			
				<div class="icons__item" data-name="new-documents"><i class=" icon-new-documents"></i> icon-new-documents</div>
			
				<div class="icons__item" data-name="network-equipment"><i class=" icon-network-equipment"></i> icon-network-equipment</div>
			
				<div class="icons__item" data-name="multiple"><i class=" icon-multiple"></i> icon-multiple</div>
			
				<div class="icons__item" data-name="move-up"><i class=" icon-move-up"></i> icon-move-up</div>
			
				<div class="icons__item" data-name="move-right"><i class=" icon-move-right"></i> icon-move-right</div>
			
				<div class="icons__item" data-name="move-left"><i class=" icon-move-left"></i> icon-move-left</div>
			
				<div class="icons__item" data-name="move-down"><i class=" icon-move-down"></i> icon-move-down</div>
			
				<div class="icons__item" data-name="minus"><i class=" icon-minus"></i> icon-minus</div>
			
				<div class="icons__item" data-name="minus-low"><i class=" icon-minus-low"></i> icon-minus-low</div>
			
				<div class="icons__item" data-name="menu"><i class=" icon-menu"></i> icon-menu</div>
			
				<div class="icons__item" data-name="manual-task"><i class=" icon-manual-task"></i> icon-manual-task</div>
			
				<div class="icons__item" data-name="mail"><i class=" icon-mail"></i> icon-mail</div>
			
				<div class="icons__item" data-name="lock"><i class=" icon-lock"></i> icon-lock</div>
			
				<div class="icons__item" data-name="list"><i class=" icon-list"></i> icon-list</div>
			
				<div class="icons__item" data-name="linkedin"><i class=" icon-linkedin"></i> icon-linkedin</div>
			
				<div class="icons__item" data-name="link"><i class=" icon-link"></i> icon-link</div>
			
				<div class="icons__item" data-name="lever"><i class=" icon-lever"></i> icon-lever</div>
			
				<div class="icons__item" data-name="left"><i class=" icon-left"></i> icon-left</div>
			
				<div class="icons__item" data-name="leave-conversation"><i class=" icon-leave-conversation"></i> icon-leave-conversation</div>
			
				<div class="icons__item" data-name="lab"><i class=" icon-lab"></i> icon-lab</div>
			
				<div class="icons__item" data-name="kpi"><i class=" icon-kpi"></i> icon-kpi</div>
			
				<div class="icons__item" data-name="jso-file"><i class=" icon-jso-file"></i> icon-jso-file</div>
			
				<div class="icons__item" data-name="join"><i class=" icon-join"></i> icon-join</div>
			
				<div class="icons__item" data-name="job"><i class=" icon-job"></i> icon-job</div>
			
				<div class="icons__item" data-name="java-script-file"><i class=" icon-java-script-file"></i> icon-java-script-file</div>
			
				<div class="icons__item" data-name="java-file"><i class=" icon-java-file"></i> icon-java-file</div>
			
				<div class="icons__item" data-name="iteration"><i class=" icon-iteration"></i> icon-iteration</div>
			
				<div class="icons__item" data-name="involved-CIs"><i class=" icon-involved-CIs"></i> icon-involved-CIs</div>
			
				<div class="icons__item" data-name="involved-CIs-tab"><i class=" icon-involved-CIs-tab"></i> icon-involved-CIs-tab</div>
			
				<div class="icons__item" data-name="infrastructure-services"><i class=" icon-infrastructure-services"></i> icon-infrastructure-services</div>
			
				<div class="icons__item" data-name="info-sign"><i class=" icon-info-sign"></i> icon-info-sign</div>
			
				<div class="icons__item" data-name="indent"><i class=" icon-indent"></i> icon-indent</div>
			
				<div class="icons__item" data-name="import"><i class=" icon-import"></i> icon-import</div>
			
				<div class="icons__item" data-name="image-file"><i class=" icon-image-file"></i> icon-image-file</div>
			
				<div class="icons__item" data-name="html-file"><i class=" icon-html-file"></i> icon-html-file</div>
			
				<div class="icons__item" data-name="hplogo"><i class=" icon-hplogo"></i> icon-hplogo</div>
			
				<div class="icons__item" data-name="hourglass"><i class=" icon-hourglass"></i> icon-hourglass</div>
			
				<div class="icons__item" data-name="home"><i class=" icon-home"></i> icon-home</div>
			
				<div class="icons__item" data-name="history"><i class=" icon-history"></i> icon-history</div>
			
				<div class="icons__item" data-name="help"><i class=" icon-help"></i> icon-help</div>
			
				<div class="icons__item" data-name="help-sign"><i class=" icon-help-sign"></i> icon-help-sign</div>
			
				<div class="icons__item" data-name="help-hollow"><i class=" icon-help-hollow"></i> icon-help-hollow</div>
			
				<div class="icons__item" data-name="health"><i class=" icon-health"></i> icon-health</div>
			
				<div class="icons__item" data-name="hardware"><i class=" icon-hardware"></i> icon-hardware</div>
			
				<div class="icons__item" data-name="graph"><i class=" icon-graph"></i> icon-graph</div>
			
				<div class="icons__item" data-name="go-to"><i class=" icon-go-to"></i> icon-go-to</div>
			
				<div class="icons__item" data-name="go-to-target"><i class=" icon-go-to-target"></i> icon-go-to-target</div>
			
				<div class="icons__item" data-name="general"><i class=" icon-general"></i> icon-general</div>
			
				<div class="icons__item" data-name="gears"><i class=" icon-gears"></i> icon-gears</div>
			
				<div class="icons__item" data-name="gauge"><i class=" icon-gauge"></i> icon-gauge</div>
			
				<div class="icons__item" data-name="game"><i class=" icon-game"></i> icon-game</div>
			
				<div class="icons__item" data-name="fx"><i class=" icon-fx"></i> icon-fx</div>
			
				<div class="icons__item" data-name="full-screen"><i class=" icon-full-screen"></i> icon-full-screen</div>
			
				<div class="icons__item" data-name="folder"><i class=" icon-folder"></i> icon-folder</div>
			
				<div class="icons__item" data-name="folder-open"><i class=" icon-folder-open"></i> icon-folder-open</div>
			
				<div class="icons__item" data-name="flow"><i class=" icon-flow"></i> icon-flow</div>
			
				<div class="icons__item" data-name="flag"><i class=" icon-flag"></i> icon-flag</div>
			
				<div class="icons__item" data-name="find"><i class=" icon-find"></i> icon-find</div>
			
				<div class="icons__item" data-name="filter"><i class=" icon-filter"></i> icon-filter</div>
			
				<div class="icons__item" data-name="filter-remove"><i class=" icon-filter-remove"></i> icon-filter-remove</div>
			
				<div class="icons__item" data-name="file"><i class=" icon-file"></i> icon-file</div>
			
				<div class="icons__item" data-name="favorite"><i class=" icon-favorite"></i> icon-favorite</div>
			
				<div class="icons__item" data-name="facebook"><i class=" icon-facebook"></i> icon-facebook</div>
			
				<div class="icons__item" data-name="export"><i class=" icon-export"></i> icon-export</div>
			
				<div class="icons__item" data-name="expand-up"><i class=" icon-expand-up"></i> icon-expand-up</div>
			
				<div class="icons__item" data-name="expand-right"><i class=" icon-expand-right"></i> icon-expand-right</div>
			
				<div class="icons__item" data-name="expand-left"><i class=" icon-expand-left"></i> icon-expand-left</div>
			
				<div class="icons__item" data-name="expand-down"><i class=" icon-expand-down"></i> icon-expand-down</div>
			
				<div class="icons__item" data-name="exist"><i class=" icon-exist"></i> icon-exist</div>
			
				<div class="icons__item" data-name="error-task"><i class=" icon-error-task"></i> icon-error-task</div>
			
				<div class="icons__item" data-name="error-sign"><i class=" icon-error-sign"></i> icon-error-sign</div>
			
				<div class="icons__item" data-name="error-modifier"><i class=" icon-error-modifier"></i> icon-error-modifier</div>
			
				<div class="icons__item" data-name="entity-picker"><i class=" icon-entity-picker"></i> icon-entity-picker</div>
			
				<div class="icons__item" data-name="edit"><i class=" icon-edit"></i> icon-edit</div>
			
				<div class="icons__item" data-name="drill-up"><i class=" icon-drill-up"></i> icon-drill-up</div>
			
				<div class="icons__item" data-name="drill-right"><i class=" icon-drill-right"></i> icon-drill-right</div>
			
				<div class="icons__item" data-name="drill-left"><i class=" icon-drill-left"></i> icon-drill-left</div>
			
				<div class="icons__item" data-name="drill-down"><i class=" icon-drill-down"></i> icon-drill-down</div>
			
				<div class="icons__item" data-name="drawer"><i class=" icon-drawer"></i> icon-drawer</div>
			
				<div class="icons__item" data-name="drag"><i class=" icon-drag"></i> icon-drag</div>
			
				<div class="icons__item" data-name="drag-drop"><i class=" icon-drag-drop"></i> icon-drag-drop</div>
			
				<div class="icons__item" data-name="download"><i class=" icon-download"></i> icon-download</div>
			
				<div class="icons__item" data-name="down"><i class=" icon-down"></i> icon-down</div>
			
				<div class="icons__item" data-name="done"><i class=" icon-done"></i> icon-done</div>
			
				<div class="icons__item" data-name="document"><i class=" icon-document"></i> icon-document</div>
			
				<div class="icons__item" data-name="document-xml"><i class=" icon-document-xml"></i> icon-document-xml</div>
			
				<div class="icons__item" data-name="document-user"><i class=" icon-document-user"></i> icon-document-user</div>
			
				<div class="icons__item" data-name="document-unknown"><i class=" icon-document-unknown"></i> icon-document-unknown</div>
			
				<div class="icons__item" data-name="document-threat"><i class=" icon-document-threat"></i> icon-document-threat</div>
			
				<div class="icons__item" data-name="document-risk"><i class=" icon-document-risk"></i> icon-document-risk</div>
			
				<div class="icons__item" data-name="document-powerpoint"><i class=" icon-document-powerpoint"></i> icon-document-powerpoint</div>
			
				<div class="icons__item" data-name="document-pdf"><i class=" icon-document-pdf"></i> icon-document-pdf</div>
			
				<div class="icons__item" data-name="document-package"><i class=" icon-document-package"></i> icon-document-package</div>
			
				<div class="icons__item" data-name="document-outlook"><i class=" icon-document-outlook"></i> icon-document-outlook</div>
			
				<div class="icons__item" data-name="document-office"><i class=" icon-document-office"></i> icon-document-office</div>
			
				<div class="icons__item" data-name="document-job"><i class=" icon-document-job"></i> icon-document-job</div>
			
				<div class="icons__item" data-name="document-image"><i class=" icon-document-image"></i> icon-document-image</div>
			
				<div class="icons__item" data-name="document-html"><i class=" icon-document-html"></i> icon-document-html</div>
			
				<div class="icons__item" data-name="document-excel"><i class=" icon-document-excel"></i> icon-document-excel</div>
			
				<div class="icons__item" data-name="document-database"><i class=" icon-document-database"></i> icon-document-database</div>
			
				<div class="icons__item" data-name="document-csv"><i class=" icon-document-csv"></i> icon-document-csv</div>
			
				<div class="icons__item" data-name="document-configuration"><i class=" icon-document-configuration"></i> icon-document-configuration</div>
			
				<div class="icons__item" data-name="disconnect2"><i class=" icon-disconnect2"></i> icon-disconnect2</div>
			
				<div class="icons__item" data-name="disconnect"><i class=" icon-disconnect"></i> icon-disconnect</div>
			
				<div class="icons__item" data-name="disc-yes"><i class=" icon-disc-yes"></i> icon-disc-yes</div>
			
				<div class="icons__item" data-name="disc-question"><i class=" icon-disc-question"></i> icon-disc-question</div>
			
				<div class="icons__item" data-name="disc-plus"><i class=" icon-disc-plus"></i> icon-disc-plus</div>
			
				<div class="icons__item" data-name="disc-no"><i class=" icon-disc-no"></i> icon-disc-no</div>
			
				<div class="icons__item" data-name="disc-info"><i class=" icon-disc-info"></i> icon-disc-info</div>
			
				<div class="icons__item" data-name="deploy"><i class=" icon-deploy"></i> icon-deploy</div>
			
				<div class="icons__item" data-name="dependency"><i class=" icon-dependency"></i> icon-dependency</div>
			
				<div class="icons__item" data-name="delete"><i class=" icon-delete"></i> icon-delete</div>
			
				<div class="icons__item" data-name="delete-small"><i class=" icon-delete-small"></i> icon-delete-small</div>
			
				<div class="icons__item" data-name="delete-all"><i class=" icon-delete-all"></i> icon-delete-all</div>
			
				<div class="icons__item" data-name="default-values"><i class=" icon-default-values"></i> icon-default-values</div>
			
				<div class="icons__item" data-name="decision"><i class=" icon-decision"></i> icon-decision</div>
			
				<div class="icons__item" data-name="date-time"><i class=" icon-date-time"></i> icon-date-time</div>
			
				<div class="icons__item" data-name="databases"><i class=" icon-databases"></i> icon-databases</div>
			
				<div class="icons__item" data-name="cut"><i class=" icon-cut"></i> icon-cut</div>
			
				<div class="icons__item" data-name="css-file"><i class=" icon-css-file"></i> icon-css-file</div>
			
				<div class="icons__item" data-name="critical-task"><i class=" icon-critical-task"></i> icon-critical-task</div>
			
				<div class="icons__item" data-name="copy"><i class=" icon-copy"></i> icon-copy</div>
			
				<div class="icons__item" data-name="conversation-alert"><i class=" icon-conversation-alert"></i> icon-conversation-alert</div>
			
				<div class="icons__item" data-name="connection"><i class=" icon-connection"></i> icon-connection</div>
			
				<div class="icons__item" data-name="connect2"><i class=" icon-connect2"></i> icon-connect2</div>
			
				<div class="icons__item" data-name="connect"><i class=" icon-connect"></i> icon-connect</div>
			
				<div class="icons__item" data-name="configuration2"><i class=" icon-configuration2"></i> icon-configuration2</div>
			
				<div class="icons__item" data-name="configuration"><i class=" icon-configuration"></i> icon-configuration</div>
			
				<div class="icons__item" data-name="compliance"><i class=" icon-compliance"></i> icon-compliance</div>
			
				<div class="icons__item" data-name="compare"><i class=" icon-compare"></i> icon-compare</div>
			
				<div class="icons__item" data-name="comments"><i class=" icon-comments"></i> icon-comments</div>
			
				<div class="icons__item" data-name="clusters"><i class=" icon-clusters"></i> icon-clusters</div>
			
				<div class="icons__item" data-name="cloud"><i class=" icon-cloud"></i> icon-cloud</div>
			
				<div class="icons__item" data-name="cloud-software"><i class=" icon-cloud-software"></i> icon-cloud-software</div>
			
				<div class="icons__item" data-name="close-delete-small"><i class=" icon-close-delete-small"></i> icon-close-delete-small</div>
			
				<div class="icons__item" data-name="clear"><i class=" icon-clear"></i> icon-clear</div>
			
				<div class="icons__item" data-name="checkboxes-unchecked"><i class=" icon-checkboxes-unchecked"></i> icon-checkboxes-unchecked</div>
			
				<div class="icons__item" data-name="checkboxes-checked"><i class=" icon-checkboxes-checked"></i> icon-checkboxes-checked</div>
			
				<div class="icons__item" data-name="check"><i class=" icon-check"></i> icon-check</div>
			
				<div class="icons__item" data-name="check-sign"><i class=" icon-check-sign"></i> icon-check-sign</div>
			
				<div class="icons__item" data-name="chat"><i class=" icon-chat"></i> icon-chat</div>
			
				<div class="icons__item" data-name="chat-comment"><i class=" icon-chat-comment"></i> icon-chat-comment</div>
			
				<div class="icons__item" data-name="chart"><i class=" icon-chart"></i> icon-chart</div>
			
				<div class="icons__item" data-name="cancel"><i class=" icon-cancel"></i> icon-cancel</div>
			
				<div class="icons__item" data-name="calendar"><i class=" icon-calendar"></i> icon-calendar</div>
			
				<div class="icons__item" data-name="calculate"><i class=" icon-calculate"></i> icon-calculate</div>
			
				<div class="icons__item" data-name="busy"><i class=" icon-busy"></i> icon-busy</div>
			
				<div class="icons__item" data-name="business-services"><i class=" icon-business-services"></i> icon-business-services</div>
			
				<div class="icons__item" data-name="business-criticality-medium"><i class=" icon-business-criticality-medium"></i> icon-business-criticality-medium</div>
			
				<div class="icons__item" data-name="business-criticality-low"><i class=" icon-business-criticality-low"></i> icon-business-criticality-low</div>
			
				<div class="icons__item" data-name="business-criticality-high"><i class=" icon-business-criticality-high"></i> icon-business-criticality-high</div>
			
				<div class="icons__item" data-name="business-criticality-critical"><i class=" icon-business-criticality-critical"></i> icon-business-criticality-critical</div>
			
				<div class="icons__item" data-name="bulb"><i class=" icon-bulb"></i> icon-bulb</div>
			
				<div class="icons__item" data-name="bulb-light"><i class=" icon-bulb-light"></i> icon-bulb-light</div>
			
				<div class="icons__item" data-name="battery"><i class=" icon-battery"></i> icon-battery</div>
			
				<div class="icons__item" data-name="basket"><i class=" icon-basket"></i> icon-basket</div>
			
				<div class="icons__item" data-name="bar"><i class=" icon-bar"></i> icon-bar</div>
			
				<div class="icons__item" data-name="back"><i class=" icon-back"></i> icon-back</div>
			
				<div class="icons__item" data-name="automated"><i class=" icon-automated"></i> icon-automated</div>
			
				<div class="icons__item" data-name="automated-task"><i class=" icon-automated-task"></i> icon-automated-task</div>
			
				<div class="icons__item" data-name="attach"><i class=" icon-attach"></i> icon-attach</div>
			
				<div class="icons__item" data-name="asset"><i class=" icon-asset"></i> icon-asset</div>
			
				<div class="icons__item" data-name="archive"><i class=" icon-archive"></i> icon-archive</div>
			
				<div class="icons__item" data-name="approvals"><i class=" icon-approvals"></i> icon-approvals</div>
			
				<div class="icons__item" data-name="approval-task"><i class=" icon-approval-task"></i> icon-approval-task</div>
			
				<div class="icons__item" data-name="application"><i class=" icon-application"></i> icon-application</div>
			
				<div class="icons__item" data-name="application-servers"><i class=" icon-application-servers"></i> icon-application-servers</div>
			
				<div class="icons__item" data-name="alert"><i class=" icon-alert"></i> icon-alert</div>
			
				<div class="icons__item" data-name="admin"><i class=" icon-admin"></i> icon-admin</div>
			
				<div class="icons__item" data-name="add"><i class=" icon-add"></i> icon-add</div>
			
				<div class="icons__item" data-name="add-user"><i class=" icon-add-user"></i> icon-add-user</div>
			
				<div class="icons__item" data-name="add-transition"><i class=" icon-add-transition"></i> icon-add-transition</div>
			
				<div class="icons__item" data-name="add-to-dashboard"><i class=" icon-add-to-dashboard"></i> icon-add-to-dashboard</div>
			
				<div class="icons__item" data-name="add-phase"><i class=" icon-add-phase"></i> icon-add-phase</div>
			
				<div class="icons__item" data-name="add-filter"><i class=" icon-add-filter"></i> icon-add-filter</div>
			
				<div class="icons__item" data-name="add-comment"><i class=" icon-add-comment"></i> icon-add-comment</div>
			
				<div class="icons__item" data-name="actual-service"><i class=" icon-actual-service"></i> icon-actual-service</div>
			
				<div class="icons__item" data-name="access"><i class=" icon-access"></i> icon-access</div>
			
				<div class="icons__item" data-name="SLT"><i class=" icon-SLT"></i> icon-SLT</div>
			
		</div>