<div class="navbar navbar-fixed-top navbar-inline">
    <div class="container">
        <a class="brand">HP K2</a>

        <div class="nav-collapse collapse">
            <ul class="nav">
                <li ng-class="{'active':$state.current.name.indexOf('home.about')==0}"><a ui-sref="home.about">Home</a></li>
                <li ng-class="{'active':$state.current.name.indexOf('home.chat')==0}"><a ui-sref="home.chat"> Collaboration</a></li>
            </ul>
        </div>
        <div id="spaceHolder" class="head-icon">
            <span class="icon-user icon-24" ng-class="getCurrentUser()?'icon-blue':'icon-gray'"></span>
            <span>{{getCurrentUser()}}</span>
        </div>
        <div class="head-icon" ng-click="openConfigDialog()">
            <span class="icon-gears icon-24 icon-blue"></span>
        </div>
        <div class="head-icon" ng-click="quit()">
            <span class="icon-export icon-24" ng-class="getCurrentUser()?'icon-blue':'icon-gray'"></span>
        </div>
    </div>
</div>

<div ui-view class="container">  <!-- major partial views landing to -->
    <h1 style="margin-top: 150px; text-align: center">A Web Chat PoC powered by AngularJS, StropheJS and Openfire</h1>
</div>

<div class="footer">
    <div class="divider-h"></div>
    <p style="text-align: right">&#0169 Copyright 2014 Hewlett-Packard Development Company, L.P. </p>
</div>
