<div class="container kit">
<div class="uikit">
<div class="row">
    <div class="span12">
        <div class="alert alert-info">
            <!-- <button data-dismiss="alert" class="close" type="button">×</button> -->
            <strong>Heads up! </strong>
            Below are reference components (not directives).
        </div>
    </div>
</div>
<div class="row">
    <div class="span2">
        <div class="component"><p class="component-lable">Blue</p>

            <div class="swatch blue"></div>
        </div>
    </div>

    <div class="span2">
        <div class="component"><p class="component-lable">Purple</p>

            <div class="swatch purple"></div>
        </div>
    </div>

    <div class="span2">
        <div class="component"><p class="component-lable">Green</p>

            <div class="swatch green"></div>
        </div>
    </div>

    <div class="span2">
        <div class="component"><p class="component-lable">Yellow</p>

            <div class="swatch yellow"></div>
        </div>
    </div>

    <div class="span2">
        <div class="component"><p class="component-lable">Orange</p>

            <div class="swatch orange"></div>
        </div>
    </div>

    <div class="span2">
        <div class="component"><p class="component-lable">Red</p>

            <div class="swatch red"></div>
        </div>
    </div>

</div>

<div class="row">
    <div class="span1">
        <div class="component"><p class="component-lable">Gray 20</p>

            <div class="swatch gray-20"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 40</p>

            <div class="swatch gray-40"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 60</p>

            <div class="swatch gray-60"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 80</p>

            <div class="swatch gray-80"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 100</p>

            <div class="swatch gray-100"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 120</p>

            <div class="swatch gray-120"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 140</p>

            <div class="swatch gray-140"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 160</p>

            <div class="swatch gray-160"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 180</p>

            <div class="swatch gray-180"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 200</p>

            <div class="swatch gray-200"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 220</p>

            <div class="swatch gray-220"></div>
        </div>
    </div>

    <div class="span1">
        <div class="component"><p class="component-lable">Gray 240</p>

            <div class="swatch gray-240"></div>
        </div>
    </div>


</div>
<div class="row">
    <div class="span4">
        <div class="component"><p class="component-lable">Heading</p>

            <h1>h1. Heading 1</h1>

            <h2>h2. Heading 2</h2>

            <h3>h3. Heading 3</h3>
            <h4>h4. Heading 4</h4>
            <h5>h5. Heading 5</h5>
            <h6>h6. Heading 6</h6>
        </div>
    </div>
    <div class="span8">
        <div class="component"><p class="component-lable">Table</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<div class="row">
    <div class="span2">
        <div class="component"><p class="component-lable">Default button</p>
            <button class="btn min-width" type="button">OK</button>
        </div>
    </div>
    <div class="span2">
        <div class="component"><p class="component-lable">Primary button</p>
            <button class="btn min-width btn-primary" type="button">OK</button>
        </div>
    </div>
    <div class="span2">
        <div class="component"><p class="component-lable">Error button</p>
            <button class="btn min-width btn-error" type="button">OK</button>
        </div>
    </div>
    <div class="span2">
        <div class="component"><p class="component-lable">Default disabled</p>
            <button class="btn min-width" type="button" disabled>OK</button>
        </div>
    </div>
    <div class="span2">
        <div class="component"><p class="component-lable">Primary disabled</p>
            <button class="btn min-width btn-primary" type="button" disabled>OK</button>
        </div>
    </div>
    <div class="span2">
        <div class="component"><p class="component-lable">Error disabled</p>
            <button class="btn min-width btn-error" type="button" disabled>OK</button>
        </div>
    </div>

</div>


<div class="row">
    <div class="span2">
        <div class="component"><p class="component-lable">Button with icon</p>
            <button class="btn"><i class="icon-copy"></i>
                Paste
            </button>
        </div>
    </div>
    <div class="span2">
        <div class="component"><p class="component-lable">Icon button</p>
            <button class="btn"><i class="icon-paste"></i>
            </button>
        </div>
    </div>
    <div class="span2">
        <div class="component"><p class="component-lable">Disabled icon button</p>
            <button class="btn disabled"><i class="icon-paste"></i>
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="span2">
        <div class="component"><p class="component-lable">Dropdown button</p>

            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Menu
                    <span class="divider-vertical-short"></span>
                    <span class="icon-down icon-blue"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="span2">
        <div class="component"><p class="component-lable">Dropdown split button</p>

            <div class="btn-group">
                <button class="btn">Action</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle">
                    <span class="icon-down icon-blue"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a href="">Action</a></li>
                    <li><a href="">Super action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="span2">
        <div class="component"><p class="component-lable">Dropdown combo button</p>

            <div class="btn-group"><input type="datetime" class="btn-input" value="item" autocomplete="on">Action
                <button data-toggle="dropdown" class="btn dropdown-toggle">
                    <span class="icon-down icon-blue"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a href="">Find</a></li>
                    <li><a href="">Delete</a></li>
                    <li><a href="">Highlight</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="span2">
        <div class="component"><p class="component-lable">Dropdown button error</p>

            <div class="btn-group error ">
                <button class="btn dropdown-toggle " data-toggle="dropdown">
                    Menu
                    <span class="divider-vertical-short"></span>
                    <span class="icon-down"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="component"><p class="component-lable">Dropdown split button error</p>

            <div class="btn-group error">
                <button class="btn">Action</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle">
                    <span class="icon-down"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a href="">Action</a></li>
                    <li><a href="">Super action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="component"><p class="component-lable">Dropdown combo button error</p>

            <div class="btn-group error"><input type="datetime" class="btn-input input-error" value="item"
                                                autocomplete="on">Action
                <button data-toggle="dropdown" class="btn dropdown-toggle">
                    <span class="icon-down"></span>
                </button>
                <ul class="dropdown-menu pull-left">
                    <li><a href="">Find</a></li>
                    <li><a href="">Delete</a></li>
                    <li><a href="">Highlight</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="span3">
        <div class="component">
            <p class="component-lable">Radio buttons with text</p>

            <div class="btn-group " data-toggle="buttons-radio">
                <button class="btn">Left</button>
                <button class="btn">Middle</button>
                <button class="btn">Right</button>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="component">
            <p class="component-lable">Radio buttons with icons</p>

            <div class="btn-group " data-toggle="buttons-radio">
                <button class="btn"><i class="icon-document-office"></i></button>
                <button class="btn"><i class="icon-document-xml"></i></button>
                <button class="btn"><i class="icon-document-csv"></i></button>
                <button class="btn"><i class="icon-document-excel"></i></button>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="component">
            <p class="component-lable">Radio buttons</p>

            <!--         <input id="checkbox2" type="checkbox" name="checkbox" value="2"><label for="checkbox2"><span></span>Option 2</label>

                    <input id="checkbox3" type="checkbox" name="checkbox" value="3"><label for="checkbox3"><span></span>Option 3</label> -->


            <input id="radio1" type="radio" name="radio" value="1" checked="checked"><label
                for="radio1"><span><span></span></span>Option 1</label>
            <input id="radio2" type="radio" name="radio" value="2"><label for="radio2"><span><span></span></span>Option
            2</label>
            <input id="radio3" type="radio" name="radio" value="3"><label for="radio3"><span><span></span></span>Option
            3</label>
        </div>
    </div>
</div>


<div class="row">
    <div class="span2">
        <div class="component"><p class="component-lable">Pager</p>

            <div class="btn-group">
                <div class="btn-group">
                    <button class="btn" href="">
                        <i class="icon-left"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn" href=""><i class="icon-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="component"><p class="component-lable">Standard pagination</p>

            <div class="btn-group">
                <div class="pagination">
                    <ul>
                        <li><a href=""><i class="icon-left"></i></a></li>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href=""><i class="icon-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="component">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">Dropdown <b
                        class="icon-down icon-blue"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                </ul>
            </li>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="component"><p class="component-lable">Masthead</p>

            <div class="navbar navbar-fixed-top">
                <div class="container">
                    <a class="brand">Product Name</a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--    <ul class="breadcrumb">
                <li><a href="">Home</a> <span class="divider">/</span></li>
                <li><a href="">Instructions</a> <span class="divider">/</span></li>
                <li class="active">GUI</li>
            </ul>  -->
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="component"><p class="component-lable">Masthead minimized</p>

            <div class="navbar navbar-fixed-top navbar-inline">
                <div class="container">
                    <a class="brand">Product Name</a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
	<div class="span12">
		<div class="component"><p class="component-lable">Masthead inner</p>
			<div class="navbar navbar-inner navbar-inline">
				<div class="container">
					<a class="brand">Product Name</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"> <a href="">Home</a></li>
							<li> <a href="">Features</a></li>
							<li> <a href="">About</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<div class="row">
    <div class="span6">
        <div class="component"><p class="component-lable">Main menu</p>

            <div class="menu">
                <li class="dropdown"><span class="dropdown-toggle" data-toggle="dropdown" href="">File</span>
                    <ul class="dropdown-menu">
                        <li><a href="">New file</a></li>
                        <li><a href="">Open file</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="">Open recent</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="">Second level link</a></li>
                                <li><a tabindex="-1" href="">Second level link</a></li>
                                <li><a tabindex="-1" href="">Second level link</a></li>
                                <li><a tabindex="-1" href="">Second level link</a></li>
                                <li><a tabindex="-1" href="">Second level link</a></li>
                            </ul>
                        </li>
                        <li><a href="">Save</a></li>
                        <li><a href="">Save as</a></li>
                        <li class="divider"></li>
                        <li><a href="">Import</a></li>
                        <li><a href="">Export</a></li>
                        <li class="divider"></li>
                        <li><a href="">Close file</a></li>
                        <li><a href="">Close all files</a></li>
                        <li class="divider"></li>
                        <li><a href="">Exit</a></li>
                    </ul>
                </li>
                <li class="dropdown"><span class="dropdown-toggle" data-toggle="dropdown" href="">Edit</span>
                    <ul class="dropdown-menu">
                        <li><a href="">Action</a></li>
                        <li><a href="">Another action</a></li>
                        <li><a href="">Something else here</a></li>
                        <li class="divider"></li>

                    </ul>
                </li>

                <li class="dropdown"><span class="dropdown-toggle" data-toggle="dropdown" href="">Tools</span>
                    <ul class="dropdown-menu">
                        <li><a href="">Action</a></li>
                        <li><a href="">Another action</a></li>
                        <li><a href="">Something else</a></li>
                        <li class="divider"></li>
                        <li><a href="">Separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown"><span class="dropdown-toggle" data-toggle="dropdown" href="">Vew</span>
                    <ul class="dropdown-menu">
                        <li><a href="">Action</a></li>
                        <li><a href="">Another action</a></li>
                        <li class="divider"></li>
                        <li><a href="">Separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown"><span class="dropdown-toggle" data-toggle="dropdown" href="">Help</span>
                    <ul class="dropdown-menu">
                        <li><a href="">Action</a></li>
                        <li><a href="">Another action</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="span6">
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="component"><p class="component-lable">Toolbar</p>

            <div class="tool-bar">
                <a class="btn btn-icon"><i class="icon-file"></i> New</a>
                <a class="btn btn-icon"><i class="icon-folder-open"></i> Open</a>
                <a class="btn btn-icon"><i class="icon-refresh"></i> Reload</a>
                <a class="btn btn-icon"><i class="icon-wrench"></i> Settings</a>
                <a class="btn btn-icon"><i class="icon-print"></i> Print</a>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="component"><p class="component-lable">Bordered toolbar</p>

            <div class="tool-bar toolbar bordered">
                <a class="btn btn-icon"><i class="icon-folder-open"></i></a>
                <a class="btn btn-icon"><i class="icon-refresh"></i></a>
                <a class="btn btn-icon"><i class="icon-file"></i></a>
                <a class="btn btn-icon"><i class="icon-wrench"></i></a>
                <a class="btn btn-icon"><i class="icon-home"></i></a>
                <span class="divider-vertical"></span>
                <a class="btn btn-icon"><i class="icon-play"></i></a>
                <a class="btn btn-icon"><i class="icon-pause"></i></a>
                <a class="btn btn-icon"><i class="icon-stop"></i></a>
                <span class="divider-vertical"></span>
                <a class="btn btn-icon"><i class="icon-list-alt"></i></a>
                <a class="btn btn-icon pull-right"><i class="icon-info-sign"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="component"><p class="component-lable">Tabs</p>

            <div class="tabs-background"></div>
            <ul class="nav nav-tabs">
                <li><a href="heading" data-toggle="tab">Regular</a></li>
                <li class="active"><a href="textblocks" data-toggle="tab">Toolbar</a></li>
                <li><a href="textblocks" data-toggle="tab">Text blocks</a></li>
            </ul>
        </div>
    </div>

    <div class="span6">
        <div class="component"><p class="component-lable">Tabs with toolbar</p>

            <div class="tabs-background"></div>
            <ul class="nav nav-tabs">
                <li><a href="heading" data-toggle="tab">Regular</a></li>
                <li class="active"><a href="textblocks" data-toggle="tab">Toolbar</a></li>
                <li><a href="textblocks" data-toggle="tab">Text blocks</a></li>
            </ul>
            <div class="tool-bar tabbed">
                <a class="btn btn-icon">
                    <i class="icon-folder-open"></i>
                </a>
                <a class="btn btn-icon">
                    <i class="icon-refresh"></i>
                </a>
                <a class="btn btn-icon">
                    <i class="icon-file"></i>
                </a>

                <a class="btn btn-icon">
                    <i class="icon-wrench"></i>
                </a>
                <a class="btn btn-icon">
                    <i class="icon-home"></i>
                </a>
                <span class="divider-vertical"></span>
                <a class="btn btn-icon">
                    <i class="icon-play"></i>
                </a>

                <a class="btn btn-icon">
                    <i class="icon-pause"></i>
                </a>

                <a class="btn btn-icon">
                    <i class="icon-stop"></i>
                </a>
                <span class="divider-vertical"></span>

                <a class="btn btn-icon">
                    <i class="icon-list-alt"></i>
                </a>
                <a class="btn btn-icon pull-right">
                    <i class="icon-info-sign"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="component"><p class="component-lable">Centered Tabs</p>

            <div class="tabs-background"></div>
            <div class="center-container">
                <ul class="nav nav-tabs center">
                    <li><a href="heading" data-toggle="tab">Elements</a></li>
                    <li class="active"><a href="textblocks" data-toggle="tab">Resources</a></li>
                    <li><a href="textblocks" data-toggle="tab">Network</a></li>
                    <li><a href="textblocks" data-toggle="tab">Timeline</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div id="accordion1" class="accordion span6">

        <div class="component"><p class="component-lable">Pane - with header</p>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <h4 href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"><i
                            class="icon-triangle"></i>Reports Pane </h4>
                </div>
                <div style="height: auto;" class="accordion-body in collapse" id="collapseOne">
                    <div class="accordion-inner"> Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                        labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                        haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="accordion1" class="accordion span6">

        <div class="component"><p class="component-lable">Bordered Pane</p>

            <div class="accordion-group bordered">
                <div class="accordion-heading">
                    <h4 href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle"><i
                            class="icon-triangle"></i>Reports Pane </h4>
                </div>
                <div style="height: auto;" class="accordion-body in collapse" id="collapseTwo">
                    <div class="accordion-inner"> Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                        labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                        haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">

    <div class="span6">

        <div class="component"><p class="component-lable">Pane - No header</p>

            <div class="pane">
                <div class="pane-body">
                    <div class="pane-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo saepe nihil autem repellendus
                            cupiditate aspernatur iure a dolorem eum eligendi qui possimus aperiam officiis? Ipsa
                            deserunt quasi fugiat cum repellat! Ullam eveniet dolor amet veritatis fuga iusto rerum et
                            fugit sed ratione commodi quisquam fugiat beatae provident cumque dolore tempora possimus
                            cum atque impedit quaerat voluptatum laudantium hic sunt voluptas. Consectetur placeat
                            assumenda eum consequuntur laborum vitae in quia doloremque vel est error itaque soluta ipsa
                            reiciendis similique reprehenderit nulla dolorem quasi distinctio suscipit maiores
                            perferendis aliquam facere saepe?</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="span6">

        <div class="component"><p class="component-lable">Bordered Pane - No header</p>

            <div class="pane bordered">
                <div class="pane-body">
                    <div class="pane-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo saepe nihil autem repellendus
                            cupiditate aspernatur iure a dolorem eum eligendi qui possimus aperiam officiis? Ipsa
                            deserunt quasi fugiat cum repellat! Ullam eveniet dolor amet veritatis fuga iusto rerum et
                            fugit sed ratione commodi quisquam fugiat beatae provident cumque dolore tempora possimus
                            cum atque impedit quaerat voluptatum laudantium hic sunt voluptas. Consectetur placeat
                            assumenda eum consequuntur laborum vitae in quia doloremque vel est error itaque soluta ipsa
                            reiciendis similique reprehenderit nulla dolorem quasi distinctio suscipit maiores
                            perferendis aliquam facere saepe?</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="component"><p class="component-lable">Divider</p>

            <div class="divider-h"></div>
        </div>

    </div>

    <div class="span6">

        <div class="component"><p class="component-lable">Splitter</p>

            <div class="splitter">
                <div class="splitter-wraper pull-right">
                    <div class="splitter-right-side"></div>
                </div>
                <div class="splitter-wraper">
                    <div class="splitter-left-side"></div>
                </div>
                <div class="splitter-thumb"></div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="span3">
        <div class="component"><p class="component-lable">List</p>
            <ul class="nav nav-list">


                <li><a href=""><i class="icon-file"></i>Home</a></li>
                <li><a href=""><i class="icon-file"></i>Library</a></li>
                <li class="active"><a href=""><i class="icon-file"></i>Applications</a></li>
                <li><a href=""><i class="icon-file"></i>Profile</a></li>
                <li><a href=""><i class="icon-file"></i>Settings</a></li>

                <li><a href=""><i class="icon-file"></i>Help</a></li>
            </ul>
        </div>


    </div>

</div>
<div class="row">

    <div class="span3">
        <div class="component"><p class="component-lable">Text input</p>
            <input type="text" placeholder="type here">
        </div>
    </div>
    <div class="span3">
        <div class="component"><p class="component-lable">Input error</p>

            <div class="control error">
                <div class="controls">
                    <input type="text" value="mymail@mail.con" id="inputWarning">
                </div>
            </div>
        </div>
    </div>

    <div class="span3">
        <div class="component"><p class="component-lable">Disabled input</p>
            <input type="text" placeholder="type here" disabled="">
        </div>
    </div>

    <div class="span3">
        <div class="component"><p class="component-lable">Search</p>

            <div class="input"><input type="text" class="search-query"><span class="btn"><i
                    class="icon-search"></i></span>


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span2 checkboxes">
        <div class="component"><p class="component-lable">Checkbox</p>
            <li>
                <label>
                    <input type="checkbox">
                    <span>To be</span>
                </label>
            </li>
        </div>
    </div>
</div>

<div class="row">

    <div class="span6">

        <div class="component">
            <p class="component-lable">Default dialog</p>

            <div class="modal inner">
                <div class="modal-header">
                    <span class="icon-remove pull-right"></span>
                    <h5>Dialog Sample</h5>
                </div>
                <div class="modal-body">
                    <h5>Title</h5>

                    <p>
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti illum voluptatem aut id odit
                        quia accusantium non maxime dolores ratione debitis nihil blanditiis tempora aperiam fugit
                        doloribus eaque impedit quibusdam pariatur rerum error optio quos recusandae tenetur nobis
                        voluptates veniam provident? Animi quas temporibus nulla accusamus quaerat ex voluptates
                        molestiae sunt accusantium hic ducimus ipsa reprehenderit facilis incidunt tempora facere!
                    </p>

                    <p></p>
                </div>
                <div class="modal-footer">
                    <a class="btn min-width btn-primary" href="">OK</a>
                    <a class="btn min-width" href="">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="component">
            <p class="component-lable">Help dialog</p>

            <div class="modal inner">
                <div class="modal-header">
                    <span class="icon-remove pull-right"></span>
                    <h5>Help</h5>
                </div>
                <i class="icon-help-sign icon-48"></i>

                <div class="modal-body">
                    <h5>Help</h5>

                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                        sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                    </p>

                    <p></p>
                </div>
                <div class="modal-footer">
                    <a class="btn min-width btn-primary" href="">OK</a>
                    <a class="btn min-width" href="">Cancel</a>
                </div>
            </div>
        </div>

    </div>


    <div class="span6">
        <div class="component">
            <p class="component-lable">Informative dialog</p>

            <div class="modal inner">
                <div class="modal-header">
                    <span class="icon-remove pull-right"></span>
                    <h5>Informative Message</h5>
                </div>
                <i class=" icon-information-sign icon-48"></i>

                <div class="modal-body">
                    <h5>Information</h5>

                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                        sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                    </p>

                    <p></p>
                </div>
                <div class="modal-footer">
                    <a class="btn min-width btn-primary" href="">OK</a>
                    <a class="btn min-width" href="">Cancel</a>
                </div>
            </div>
        </div>

    </div>

    <div class="span6">
        <div class="component">
            <p class="component-lable">Error Message</p>

            <div class="modal inner">
                <div class="modal-header">
                    <span class="icon-remove pull-right"></span>
                    <h5>Error Message</h5>
                </div>
                <i class="icon-error-sign icon-48"></i>

                <div class="modal-body">
                    <h5>Error</h5>

                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                        sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                    </p>

                    <p></p>
                </div>
                <div class="modal-footer">
                    <a class="btn min-width btn-primary" href="">OK</a>
                    <a class="btn min-width" href="">Cancel</a>
                </div>
            </div>
        </div>

    </div>

    <div class="span6">
        <div class="component">
            <p class="component-lable">Warning Message</p>

            <div class="modal inner">
                <div class="modal-header">
                    <span class="icon-remove pull-right"></span>
                    <h5>Warning Message</h5>
                </div>
                <i class="icon-warning-sign icon-48"></i>

                <div class="modal-body">
                    <h5>Pay attention</h5>

                    <p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                        sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                    </p>

                    <p></p>
                </div>
                <div class="modal-footer">
                    <a class="btn min-width btn-primary" href="">OK</a>
                    <a class="btn min-width" href="">Cancel</a>
                </div>
            </div>
        </div>

    </div>

    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h5>Warning Message</h5>
        </div>
        <div class="modal-body">
            <p>
            </p>

            <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
            </p>

            <p></p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
<div class="row">

    <div class="span5">

        <div class="component">
            <span class="label">Default</span> <span class="label label-success">Success</span> <span
                class="label label-warning">Warning</span> <span class="label label-important">Important</span> <span
                class="label label-info">Info</span> <span class="label label-inverse">Inverse</span>
        </div>
    </div>


    <div class="span7">
        <div class="component">
            <div class=" tooltip-demo">
                <a data-placement="top" rel="tooltip" href=""
                   data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, fugit perspiciatis culpa earum qui ducimus consectetur doloribus laudantium laboriosam unde.">
                    &nbsp; Tooltip on top &nbsp;</a>
                <a data-placement="right" rel="tooltip" href=""
                   data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusantium minus sapiente temporibus expedita repudiandae sed dolorem enim natus corporis.">
                    &nbsp; Tooltip on right &nbsp;</a>
                <a data-placement="bottom" rel="tooltip" href=""
                   data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, quasi molestiae minima amet ex eum dignissimos totam non beatae optio.">
                    &nbsp; Tooltip on bottom &nbsp;</a>
                <a data-placement="left" rel="tooltip" href=""
                   data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, fuga repudiandae sed voluptas cumque deleniti accusamus sequi odio earum dolorum.">
                    &nbsp; Tooltip on left &nbsp;</a>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="span6">
        <div class="component">
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Warning!</strong>
                Best check yo self, you're not looking too good.
            </div>
            <div class="alert alert-block">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h4>Warning!</h4>

                <p>
                    Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent
                    commodo cursus magna, vel scelerisque nisl consectetur et.
                </p>
            </div>
            <div class="alert alert-error">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Oh snap!</strong>
                Change a few things up and try submitting again.
            </div>
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Well done!</strong>
                You successfully read this important alert message.
            </div>
            <div class="alert alert-info">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Heads up!</strong>
                This alert needs your attention, but it's not super important.
            </div>
            <div class="alert alert-block alert-error fade in">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <h4 class="alert-heading">Oh snap! You got an error!</h4>

                <p>
                    Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                    eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
                </p>

                <p>
                    <a href="" class="btn btn-danger">Take this action</a>
                    <a href="" class="btn">Or do this</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span4">
        <div class="component">
            <p class="component-lable">Progress bar</p>

            <div class="progress">
                <div class="bar" style="width: 60%;"></div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="component">
            <p class="component-lable">Striped progress bar</p>

            <div class="progress progress-striped active">
                <div class="bar" style="width: 40%;"></div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="component">
            <p class="component-lable">Stacked progress bar</p>

            <div class="progress">
                <div class="bar bar-success" style="width: 35%;"></div>
                <div class="bar bar-warning" style="width: 20%;"></div>
                <div class="bar bar-danger" style="width: 10%;"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>